<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="/material/assets/img/apple-icon.png">
	<link rel="icon" type="image/*" href="/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Comnet</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

	<!-- CSS Files -->
    <link href="/material/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/material/assets/css/material-kit.css" rel="stylesheet"/>

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link href="/material/assets/css/demo.css" rel="stylesheet" />

	<!-- Material Table -->
	<link href="/stylesheets/material-table.less" rel="stylesheet"/>
</head>

<body class="index-page">
<!-- Navbar -->
<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
	<div class="container">
        <div class="navbar-header">
	    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
	        	<span class="sr-only">Toggle navigation</span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	    	</button>
	    	<a href="/">
	        	<div class="logo-container">
	                <div class="logo">
	                    <img src="/favicon.ico" alt="Comnet Logo" data-placement="bottom" data-html="true">
	                </div>
	                <div class="brand" id="subject">
	                    Comnet
	                </div>
				</div>
	      	</a>
		</div>
		
		<div class="collapse navbar-collapse" id="navigation-index">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<% if (!user) { %>
					<a href="/login?from=/post/<%= post.PostID %>">
						<i class="material-icons">assignment ind</i> Login
					</a>
					<% } else { %>
					<a href="/logout">
						<i class="material-icons">assignment turned in</i> <%= user.ID %>
					</a>
					<% } %>
				</li>
				<li>
					<a rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank" class="btn btn-white btn-simple btn-just-icon">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<li>
					<a rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank" class="btn btn-white btn-simple btn-just-icon">
						<i class="fa fa-facebook-square"></i>
					</a>
				</li>
				<li>
					<a rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank" class="btn btn-white btn-simple btn-just-icon">
						<i class="fa fa-instagram"></i>
					</a>
				</li>

			</ul>
		</div>

	</div>
</nav>
<!-- End Navbar -->
<div class="wrapper">
	<div class="header-filter" style="background-image: url('/material/assets/img/bg2.jpeg');">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="brand">
						<h1>Open Source File Project</h1>
						<h3>A Badass Bootstrap UI Kit based on Material Design.</h3>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main main-raised">
		<div class="section section-basic">
			

	    	<div class="container">
				<div class ="row">
					<h2><strong>제목:<strong><%= post.head %></h2>
					<hr>
				</div>

				<div class="row">
					<div class="col-md-12">
						<%= post.body %>
					</div>
					
					<% if (post.file) { %>
					<div class="col-md-8">
						<a href="<%= post.file.url %>"><%= post.file.url %></a>
					</div>
					<% } %>
					
				</div>

				<hr/>

				<!-- Material Design Table (https://codepen.io/anon/pen/qYYLzj) -->
				<div id="material-table">
						<div class ="row">
								<h3><strong>댓글</h3>
								<hr>
						</div>
					
					<div class="comments" id="comment-container">
						
						<!-- commnet loop -->
						<% post.comments.forEach(comment => { %>
							<div class="comment" id="comment-<%= comment.CommentID %>">
							  	<div class="top">
									<b><%= comment.ID %></b>
									[<%= comment.TimeStamp %>]

									<!-- if author is writer -->
									<% if (user && user.ID == comment.ID) { %>
									<button type="button" class="btn-delete-comment" id="comment-id-<%= comment.CommentID %>">	
										x
									</button>
									<% } %>
									<!-- if end -->
							  	</div>
								<div class="body">
									<%= comment.body %>
								</div>
								<hr/>
							</div>
						<% }); %>
						<!-- loop end -->
					</div>
					<form class="addComment checkValidation" action="" method="post">
						<textarea class="cvRequired" type="text" id="commentText"
							cvRqErrMsg="comments is empty." cvRqErrTo="#cvErrTitle"
							placeholder="<%= user?"Add comment here":"Please login to make a comment" %>" <%= user?"":"disabled" %> ></textarea>
						<button type="button" id="tomksg" <%= user?"":"disabled" %>>Comment</button>
						<div id="cvErrTitle" class="message"></div>
					</form>
				</div>
			</div>
			<hr/>
	    </div>
	</div>
    <footer class="footer">
	    <div class="container">
	        <nav class="pull-left">
	            <ul>
					<li>
						<a href="http://www.creative-tim.com">
							Creative Tim
						</a>
					</li>
					<li>
						<a href="http://presentation.creative-tim.com">
						   About Us
						</a>
					</li>
					<li>
						<a href="http://blog.creative-tim.com">
						   Blog
						</a>
					</li>
					<li>
						<a href="http://www.creative-tim.com/license">
							Licenses
						</a>
					</li>
	            </ul>
	        </nav>
	        <div class="copyright pull-right">
	            &copy; 2016, made with <i class="material-icons">favorite</i> by Creative Tim for a better web.
	        </div>
	    </div>
	</footer>
</div>

<!-- Sart Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="material-icons">clear</i>
				</button>
				<h4 class="modal-title">Modal title</h4>
			</div>
			<div class="modal-body">
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-simple">Nice Button</button>
				<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!--  End Modal -->

	<!--   Core JS Files   -->
	<script src="/material/assets/js/jquery.min.js" type="text/javascript"></script>
	<script src="/material/assets/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/material/assets/js/material.min.js"></script>

	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script src="/material/assets/js/nouislider.min.js" type="text/javascript"></script>

	<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
	<script src="/material/assets/js/bootstrap-datepicker.js" type="text/javascript"></script>

	<script type="text/javascript">

		$(document).ready(function(){
            window_width = $(window).width();

			$.delete = function(url, data, callback, type) {
				if ($.isFunction(data)) {
					var type = type || callback,
						callback = data,
						data = {};
				}
				return $.ajax({
					url: url,
					type: 'DELETE',
					success: callback,
					data: data,
					contentType: type
				});
			};

			function commentDeleter(e) {
				var commentId = this.id.split('-').pop();
				if (confirm('댓글을 삭제하시겠습니까?')) {
					$.delete('/post/<%= post.PostID %>/comment', { commentId: parseInt(commentId) }, function(snapshot) {
						$('#comment-'+commentId).remove();
					});
				}
			}

			$('.btn-delete-comment').on('click', commentDeleter);

			$('#tomksg').on('click',function(e){
				e.preventDefault()
				var comment = $("#commentText").val();
				if (!comment) return alert('댓글을 입력해주세요.');
				if(confirm('댓글을 추가하시겠습니까?')){
					$.post('/post/<%= post.PostID %>/comment' , { comment: comment }, function(snapshot){
						$('#comment-container').append(
							'<div class="comment" id="comment-' + snapshot.comment.CommentID + '">' +
								'<div class="top">' +
									'<b>' + snapshot.comment.ID + '</b>' +
									'[' + snapshot.comment.TimeStamp + ']' +
									'<button type="button" class="btn-delete-comment" id="comment-id-' + snapshot.comment.CommentID + '">' +
										'x' +
									'</button>' +
								'</div>' +
								'<div class="body">' +
									snapshot.comment.body +
								'</div>' +
								'<hr/>' +
							'</div>'
						);
						$('#commentText').val('');
						$('.btn-delete-comment').unbind('click');
						$('.btn-delete-comment').on('click', commentDeleter);
					});
				}
			});
		});
	</script>
</body>
</html>
